.search-component {
	--main-color: #808080;
	--secondary-color: #e2e2e2;
}

.search-container {
	border: 1px solid var(--main-color);
	display: flex;
	height: 40px;
	font-size: 20px;
	margin: 2vh;
	margin-bottom: 0;
	position: relative;
}

.search-container input {
	width: 100%;
	border: 0;
	padding-left: 10px;
}

.search-container input:focus {
	outline: none;
	box-shadow: 0 0 0 2px var(--main-color);
}

.search-container .icons {
	position: absolute;
	right: 6px;
	font-size: 28px;
	margin-top: 6px;
}

.search-container .icons .clear {
	margin-right: 18px;
	cursor: pointer;
}

.suggestions-container {
	margin-top: 0;
	margin-left: 2vh;
	margin-right: 2vh;
	border: 1px solid var(--secondary-color);
	border-top: 0;
	overflow: auto
}

.suggestions-container.empty {
	border: 0;
}

.suggestions-container ul {
	margin-top: 0;
	color: var(--main-color);
	list-style-type: none;
	padding-inline-start: 0;
	margin-block-end: 0;
}

.suggestions-container li {
	padding: 10px;
	border-bottom: 1px solid var(--secondary-color);
}

.suggestions-container li:hover {
	background-color: var(--secondary-color);
	cursor: pointer;
}

.suggestions-container b {
	color: #000;
}

.suggestions-container .number-results {
	margin-left: 5px;
	font-weight: 600;
}